<h1>Heroes</h1>
<hr>

<div class="row">
  <div class="col-12 text-right">
    <button class="btn btn-outline-primary" type="button" [routerLink]="['/heroe','nuevo']">
      Nuevo heroe
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="table-responsive">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Bio</th>
            <th scope="col" class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{heroes[k].nombre}}</td>
            <td>{{heroes[k].casa}}</td>
            <td>{{heroes[k].bio}}</td>
            <td class="text-center">
              <button [routerLink]="['/heroe', k]"  type="button" class="btn btn-outline-success mx-1"><i class="fas fa-pencil-alt"></i></button>
              <button type="button" class="btn btn-outline-danger mx-1" (click)="borrarHeroe(k)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>